name: Build Spring Boot App

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set Up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Cache Gradle Dependencies
        uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Grant Gradle Wrapper Execute Permission
        run: chmod +x gradlew

      - name: Build with Gradle
        env:
          KEYSTORE_PASSWORD = ${{secrets.KEYSTORE_PASSWORD}}
        run: ./gradlew clean build --no-daemon

      - name: Upload Build Artifact
        uses: actions/upload-artifact@v4
        with:
          name: sat-story-element.jar
          path: build/libs/*.jar

      - name: Build Docker Image
        run: | 
          docker build -t sat-story-element:latest -f dockerfile .

      - name: Save as TAR Archive
        run: docker save sat-story-element:latest -o sat-story-element.tar

      - name: Upload Docker Artifact
        uses: actions/upload-artifact@v4
        with:
          name: sat-story-element-docker.tar
          path: |
            dockerfile
            sat-story-element
